.nav {
  position: relative;
  font-size: 10px;
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  margin-bottom: var(--border-rad-lg);
  border-bottom: 2px solid var(--color-border-surface);
  background-color: transparent;
  backdrop-filter: blur(5px);
}

.header--menu-open {
  padding-bottom: 193px;
}

.nav__brand {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* Link para volver a la página principal */
.nav__brand-link {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-primary);
  text-decoration: none;
  width: fit-content;
}

/* Logo Lorium */
.nav__brand-logo {
  width: var(--size-3xl);
  height: auto;
}

/* Botón hamburguesa */
.nav__toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 101;
}

.nav__toggle-bar {
  width: 22px;
  height: 2px;
  background-color: var(--color-text);
}

/* Menú móvil */
.nav__list {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  width: 100%;
  padding: 1em 1.5em;
  gap: 1em;
  background-color: transparent;
  font-size: var(--font-size-sm);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-8px);
}

.nav__list--open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.nav__link {
  display: inline-block;
  padding: var(--space-2xs) var(--space-xs);
  text-decoration: none;
  color: var(--color-text);
  border: 1px solid transparent;
  border-radius: var(--border-rad-xs);
}

/* Enlace activo */
.nav__link--active {
  font-weight: var(--font-weight-medium);
  background-color: var(--color-secondary);
  border-color: var(--color-primary);
}
