.the-study__section-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.the-study__title {
  text-align: center;
  font-size: var(--font-size-xl);
}

.the-study__section {
  background: var(--color-surface);
}

.the-study__section-content {
  overflow: hidden;
}

.the-study__section-button {
  width: 100%;
  font-size: var(--font-size-lg);
  text-align: left;
  color: var(--color-text);
  background: var(--color-surface-op2);
  border: none;
  border-left: 3px solid var(--color-secondary);
  padding: var(--space-xs) var(--space-sm);
}

.the-study__section-text {
  border-bottom: 2px solid var(--color-secondary);
  border-radius: 0 0 var(--border-rad-xs) var(--border-rad-xs);
  padding: var(--space-xs) var(--space-sm);
}