.highlights {
  margin-bottom: var(--space-lg);
}

.highlights__item-container {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
}

.highlights__item {
  background-color: var(--color-surface);
  padding: var(--space-sm);
  border-radius: var(--border-rad-xs);
}

.highlights__title {
  font-size: var(--font-size-sm);
  color: var(--color-text-primary);
  margin-bottom: var(--space-xs);
}

.highlights__list {
  font-size: var(--font-size-xs);
}

.highlights__list li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.highlights__list-item {
  display: flex;
  align-items: center;
  line-height: normal;
  gap: 0.75rem;
}

.highlights__list-item::before {
  content: "";
  width: 2px;
  height: 2px;
  flex-shrink: 0;
  background-color: var(--color-argentina-skyblue);
  border: 2px solid var(--color-argentina-white);
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--color-argentina-skyblue);
}
