.projects {
  margin-bottom: var(--space-sm);
}

.projects__title {
  font-size: var(--font-size-lg);
  margin-bottom: var(--space-xs);
  font-weight: var(--font-weight-normal);
}

.projects__text {
  width: 70%;
  color: var(--color-secondary-text);
  margin-bottom: var(--space-sm);
}

.projects__container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: var(--space-lg);
  padding: var(--border-rad-sm);
  position: relative;
  left: -12px;
}